<div class="col s12 tag-div">
  <div class="user-pic center-align">
    <a href="{{site.github_profile}}" target="_blank"><img class="circle hoverable z-depth-1" src="{{site.baseurl}}/assets/res/user.png"></a>
  </div>
  <div class="user-intro center-align">
    <h4 class="hidden">And <span id="js-rotating">More, Additional, Extra</span> Things About Me</h4>
  </div>
  <div class="user-content">
		<p> Hi! I'm Rui Ming, pleased to have you here. I come from a social science background with my 
			university days spent reading economics. It has been about analysing and managing behaviours, evaluating marginal 
			effects which are supported by data. </p>

		<p>	Upon gaining exposure to the world of data science, I realise that technical skills used in econometrics are 
			forms of data science as well. Ploughing through data, it is always exciting to gain new insights out of looking 
			at data differently alone! How to look at data is art, gaining mastery over it is what I strive towards. </p>

		<p>	Apart from spending my time munging through data, I read or watch documentaries whenever time avails. Things which 
			interest me include stuff about animals, socio-cultural themes, natural sciences and even space! </p>

		<p>	Otherwise, playing strategy-based games or building things out of LEGO bricks gives me the opportunity to exercise
			creativity while keeping the mind active too! </p>
	  
		<p>	If you like to discuss more about data science and economics, feel free to contact me through my email or drop
	  		a message <a href="https://cheorm.github.io/contact">here</a>. </p>
  </div>
</div>




